@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");

* {
  font-family: "roboto", sans-serif;
  color: black;
  max-width: 2100px;
  margin: 0px;
}
body {
  background: linear-gradient(
    152deg,
    rgba(175, 217, 229, 1) 0%,
    rgba(197, 226, 233, 1) 36%,
    rgba(224, 237, 236, 1) 100%
  );
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 250ms;
}
.nav ul li:nth-child(2){
  transition-delay:200ms;
}
.nav ul li:nth-child(3){
  transition-delay: 150ms;
}
.nav ul li:nth-child(4){
  transition-delay: 100ms;
}
.nav ul li:nth-child(5){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-variant-caps: small-caps;
  line-height: 1.2;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  &.sousmenu {
    font-size: 20px;
    font-variant-caps: normal;
  }
}

.nav ul li a:hover{
  text-decoration: none;
  color: #0b68e2;
}

.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(5){
  transition-delay: 1720ms;
}

.logo {
  position: absolute;
  top: 60px;
  left: 50px;
  display: block;
  z-index: 11;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.articles {
  display: flex;
  align-items: center;
  & p {
    display: flex;

    padding-right: 30px;
  }
}
.routes1{
  display:flex;
  align-items: center;
  margin-top: 20px;
  & img1{
    display: flex;

  }
  & p{
    margin-left:  10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .content h1 {
    margin-top: -40px;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 35px;
  }
  .logo {
    left: 20px;
  }
  .nav {
    right: 20px;
  }
  .nav ul li a {
    font-size: 4vh;
  }
}
.retour{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.content{
  display:flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 30px;
  & img{
    min-height: 100%;
    width: 4%;
  }
  & h1 {
  color: black;
  text-align: center;
  font-variant-caps: small-caps;
  padding: 0px 30px;
  font-family: "Open Sans",sans-serif;
  }
  .soustitle{
    font-weight: 300;
  }
}

.affiche {
  & h2{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  & img {
    margin-bottom: 30px;
    max-width: 100%;
  }
  & p {
    text-align: justify;
    margin : 0px 20px;
  }
  & p{
    margin : 0px 20px;
    text-align: justify;
  }

  & .gras {
    font-weight: bolder;
  }
  .video-responsive{
    display:flex;
    justify-content: space-around;
    margin : 40px 20px;
  }
}

.grandfooter {
  margin-top: 80px;
  
  display: flex;
  flex-direction: column;
  background-color: #91989e42;

  & .moyenfooter{
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  & img {
    
    width: 10%;
  }
  & .footer1 h3 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
  }
  & .footer1 h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
  & .social {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  & .social h3 {
    margin-bottom: 0px;
  }
  & .social a {
    font-size: xx-large;
    padding-top: 10px;
  }
}
.footer-copyright{
  font-size: 12px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  * {
    max-width: 500px;
  }

  .content {
    & h1 {
      margin: 0px 50px 40px 50px;
      text-align: center;
    }
    & h2 {
      margin-left: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
      text-align: center;
      overflow: hidden;
    }
    & img {
      margin-top: 50px;
      min-width: 10%;
    }
  }

  .grandfooter {
    margin-top: 10px;
    border-top: 1px solid black;
    & .moyenfooter {
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: space-around;
      align-items: center;
    }
    & img {
      width: 20%;
    }

    & .footer1 h3 {
      margin-bottom: 0px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
    }
    & .footer1 h2 {
      margin: 0;
      font-size: 12px;
      font-weight: normal;
    }
    & .social {
      width: 10%;
      align-items: flex-end;
    }
    & .social h3 {
      visibility: hidden;
      font-size: 1px;
    }
    & .social a {
      font-size: large;
    }
    & .footer2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    & .footer2 a {
      font-size: 12px;
    }
  }
  .copy {
    display: block;
    font-size: small;
    text-align: center;
  }
}
