@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");
* {
  font-family: "roboto", sans-serif;
  color: black;
  max-width: 2000px;
}

html, body {
  max-width: 100%;
	
  background: linear-gradient(152deg, #2eaeec 0%, #0de7f0 36%, rgba(0, 224, 255, 0.709121) 100%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-weight: bolder;
  font-size: large;
  padding: 10px;
  margin: 10px;
}
h1{
  color: #444444;
    text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
      1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
      4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
      4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
      7px 6px 1px #cccccc;
    color: black;
    margin: 0px;
    text-align: center;
    margin-top: 20px;
}
.menuli {
  border-bottom: 5px solid transparent;
}

.menu li:hover {
  border-bottom: blue;
  color: white;
  cursor: pointer;
  border-bottom: 5px solid blue;
}

#slideshow {
	margin: auto;
	padding-top: 50px;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'roboto';
	font-size: 62px;
  text-align: center;
	color: rgb(10, 5, 5);
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}
.content-carrousel p{
  margin-top: -25px;
  text-align: center;
  color:white;
  font-size: 12px;
  
}
.sub-heading {
	padding-top: 50px;
	font-size: 25px;
} .sub-heading-two {
	font-size: 24px;
} .sub-heading-three {
	font-size: 23px;
} .sub-heading-four {
	font-size: 22px;
} .sub-heading-five {
	font-size: 21px;
} .sub-heading-six {
	font-size: 20px;
} .sub-heading-seven {
	font-size: 19px;
} .sub-heading-eight {
	font-size: 18px;
} .sub-heading-nine {
	font-size: 17px;
} .sub-heading-ten {
	font-size: 16px;
} .sub-heading-eleven {
	font-size: 15px;
} .sub-heading-twelve {
	font-size: 14px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 90%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 90%;
	height: 160px;
	border: 1px solid #3b444b; 
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(30deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(60deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(90deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(150deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(180deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(210deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(270deg) translateZ(300px); 
} .content-carrousel figure:nth-child(11) {
	transform: rotateY(300deg) translateZ(300px); 
} .content-carrousel figure:nth-child(12) {
	transform: rotateY(330deg) translateZ(300px); 
} .content-carrousel figure:nth-child(13) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel p,img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}

.titre {
  position: absolute;
  width: 95%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 5%;
  margin: 0;
  bottom: 0;
}

.grandfooter {
  margin-top: 20px;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grandfooter img {
  width: 10%;
}

.grandfooter .footer1 h3 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}

.grandfooter .footer1 h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.grandfooter .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grandfooter .social h3 {
  margin-bottom: 0px;
}

.grandfooter .social a {
  font-size: xx-large;
  padding-top: 10px;
}

.grandfooter .footer2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grandfooter .footer2 a {
  padding-right: 50px;
}

.copy {
  display: block;
  font-size: small;
  text-align: center;
}
/*# sourceMappingURL=categories.css.map */