@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap");
* {
  font-family: "roboto", sans-serif;
  color: black;
  max-width: 2000px;
}

body {
  background: linear-gradient(152deg, #2eaeec 0%, #0de7f0 36%, rgba(0, 224, 255, 0.709121) 100%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-weight: bolder;
  font-size: large;
  padding: 10px;
  margin: 10px;
}

.menuli {
  border-bottom: 5px solid transparent;
}

.menu li:hover {
  border-bottom: blue;
  color: white;
  cursor: pointer;
  border-bottom: 5px solid blue;
}

.sousmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  visibility: hidden;
}

.categories:hover .sousmenu {
  visibility: visible;
}

.acts {
  height: 2000px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.activity {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

.activity img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.activity:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.activity:hover h4 {
  letter-spacing: 2px;
  text-align: center;
  color: black;
}

.titre {
  position: absolute;
  width: 95%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 5%;
  margin: 0;
  bottom: 0;
}

.grandfooter {
  margin-top: 20px;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grandfooter img {
  width: 10%;
}

.grandfooter .footer1 h3 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}

.grandfooter .footer1 h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.grandfooter .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grandfooter .social h3 {
  margin-bottom: 0px;
}

.grandfooter .social a {
  font-size: xx-large;
  padding-top: 10px;
}

.grandfooter .footer2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grandfooter .footer2 a {
  padding-right: 50px;
}

.copy {
  display: block;
  font-size: small;
  text-align: center;
}
/*# sourceMappingURL=categories.css.map */